/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


h2{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 5px;
}

div {
  padding-top: 5px;
  padding-bottom: 10px;
}

form {
  padding-top: 5px;
  padding-bottom: 20px;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 450px;
  line-height: 26px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 5px;
}

select { 
  height: 20px;
  justify-content: center;
  flex: 0 0 200px;
  margin-left: 5px;
}

nav {
  border-bottom: 4px solid black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(221, 192, 255);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 24px 32px;
}

nav a:hover {
  background: black;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
